@media (min-width: 1000px) {
  .portada {
    background-image: url(./imagenes/portada_horizontal.jpg);
    background-size: cover;
  }

  .inner-counter {
    gap: 100px;
  }
  .inner-counter span {
    font-size: 4rem;
  }

  .inner-counter p {
    font-size: 2rem;
  }
}
