@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sevillana&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.portada {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(./imagenes/portada.jpg);
  background-position: top;

  gap: 50px;
}
.portada img {
  width: 350px;
}

.portada p {
  font-size: 2rem;
  font-family: "dancing script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #a87648;
}

.frase {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(./imagenes/frase.jpg);
  background-position: top;
  gap: 80px;
}

.frase img {
  width: 100px;
}

.frase p {
  text-align: center;
  max-width: 80%;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.frase span {
  font-size: 20px;
  font-weight: 800;
  font-size: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.direccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: aliceblue;
  gap: 80px;
  height: 130vh;
  padding: 300px 0;
}

.direccion h2 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 2.5rem;
  color: #a87648;
}

.direccion__datos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  flex-wrap: wrap;
}

.iglesia,
.fiesta {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* border: orange 3px solid; */
  border-radius: 10px;
  padding: 10px;
  height: 200px;
  justify-content: space-between;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.iglesia h3,
.fiesta h3 {
  font-size: 24px;
  font-weight: 500;
  /* border: orange 3px solid; */
}
.iglesia p,
.fiesta p {
  word-spacing: 2px;
  display: flex;
  gap: 30px;
}

.iglesia a,
.fiesta a,
.asistencia a,
.regalos a {
  color: aliceblue;
  background: #b89779;
  padding: 15px 30px;
  font-size: 14px;
  cursor: pointer;
}

.asistencia {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(./imagenes/direccion.jpg);
  gap: 80px;
  background-size: cover;
  background-position: center;
}

.asistencia h3,
.nosotros h3 {
  max-width: 400px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 2.2rem;
  color: #a87648;
}

.asistencia p {
  font-size: 20px;
}
.asistencia a {
  padding: 15px 40px;
}

.nosotros {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(102, 182, 155);
  gap: 80px;
  background-size: cover;
  background-position: center;
  /* border: 1px solid red; */
}

.nosotros p {
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.regalos {
  display: flex;
  flex-direction: column;
  padding: 150px 40px;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 120px;
  position: relative;

  /* border: 1px solid red; */
}

.regalos img {
  max-width: 120px;
}

.regalos p {
  font-size: 20px;
  /* max-width: 550px; */
  text-align: center;
}
.datos_bancarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  position: absolute;
  top: 500px;
  background: #b89779;
  padding: 20px 60px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: none;
}
#toggle-btn {
  display: none;
}

.datos_bancarios_btn {
  display: block;
}

#toggle-btn:checked ~ .datos_bancarios {
  display: flex;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  padding-bottom: 60px;
  padding-top: 60px;
  background: rgb(206, 125, 125);
}

footer p {
  font-size: 20px;
  text-align: center;
}
